<?xml version="1.0"?>

<configuration>
	<!-- Imagegen is used to deliver scaled images -->
	<configSections>
		<section name="ImageGenConfiguration" type="ImageGen.ImageGenConfigurationHandler,ImageGen" />
	</configSections>
	<ImageGenConfiguration>
		<!-- http://www.percipientstudios.com/imagegen/documentation.aspx -->
	</ImageGenConfiguration>

	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>
</configuration>